<p>
  <h4>Competency Profile (headings need to be translated into French):</h4>
</p>

<p>
  <strong><u>Organisational competencies:</u></strong>
</p>
<ul class="competencies">
<% @position.organisationals.each do |o| %>
  <li>
    <% @dictionary.each do |d| %>
      <% if d.id == o.indicator %>
        <%= d.competency_french %>
      <% end %>
    <% end %>
  </li>
<% end %>
</ul>

<p>
  <strong><u>Functional competencies:</u></strong>
</p>

<p>
  <strong>Technical competencies:</strong>
</p>
<ul class="competencies">
<% @position.functionals.each do |f| %>
  <li>
    <% @dictionary.each do |d| %>
      <% if d.id == f.indicator %>
        <%= d.competency_french %>
      <% end %>
    <% end %>
  </li>
<% end %>
</ul>

<p>
  <strong>Method related competencies:</strong>
</p>
<ul class="competencies">
<% @position.methodrelations.each do |m| %>
  <li>
    <% @dictionary.each do |d| %>
      <% if d.id == m.indicator %>
        <%= d.competency_french %>
      <% end %>
    <% end %>
  </li>
<% end %>
</ul>

<p>
  <strong>Social competencies:</strong>
</p>
<ul class="competencies">
<% @position.socials.each do |s| %>
  <li>
    <% @dictionary.each do |d| %>
      <% if d.id == s.indicator %>
        <%= d.competency_french %>
      <% end %>
    <% end %>
  </li>
<% end %>
</ul>

<p>
  <strong>Leadership competencies:</strong>
</p>
<ul class="competencies">
<% @position.leaderships.each do |l| %>
  <li>
    <% @dictionary.each do |d| %>
      <% if d.id == l.indicator %>
        <%= d.competency_french %>
      <% end %>
    <% end %>
  </li>
<% end %>
</ul>
