<p>
  <h4>Competency Profile (headings need to be translated into Spanish):</h4>
</p>

<p>
  <strong><u>Organisational competencies:</u></strong>
</p>
<ol class="competencies">
  <% @organisational.each do |o| %>
    <li>
      <%= o.competency_spanish %>
    </li>
  <% end %>
</ol>

<p>
  <strong><u>Functional competencies:</u></strong>
</p>

<p>
  <strong>Technical competencies:</strong>
</p>
<ol class="competencies">
<% @position.functionals.each do |f| %>
  <li>
    <% @dictionary.each do |d| %>
      <% if d.id == f.indicator %>
        <%= d.competency_spanish %> (Im: <%= f.importance %> Val: <%= f.value %>)
      <% end %>
    <% end %>
  </li>
<% end %>
</ol>

<p>
  <strong>Method related competencies:</strong>
</p>
<ol class="competencies">
<% @position.methodrelations.each do |m| %>
  <li>
    <% @dictionary.each do |d| %>
      <% if d.id == m.indicator %>
        <%= d.competency_spanish %> (Im: <%= m.importance %> Val: <%= m.value %>)
      <% end %>
    <% end %>
  </li>
<% end %>
</ol>

<p>
  <strong>Leadership competencies:</strong>
</p>
<ol class="competencies">
<% @position.leaderships.each do |l| %>
  <li>
    <% @dictionary.each do |d| %>
      <% if d.id == l.indicator %>
        <%= d.competency_spanish %> (Im: <%= l.importance %> Val: <%= l.value %>)
      <% end %>
    <% end %>
  </li>
<% end %>
</ol>

<p>
  <strong>Social competencies:</strong>
</p>
<ol class="competencies">
<% @position.socials.each do |s| %>
  <li>
    <% @dictionary.each do |d| %>
      <% if d.id == s.indicator %>
        <%= d.competency_spanish %> (Im: <%= s.importance %> Val: <%= s.value %>)
      <% end %>
    <% end %>
  </li>
<% end %>
</ol>
