<%= form_for(@position) do |f| %>
  <% if @position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@position.errors.count, "error") %> prohibited this position from being saved:</h2>

      <ul>
      <% @position.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user.role == 1 %>
    <div class="field">
      <strong>Status:</strong>
      <%= f.select(:draft, [['Draft', '1'], ['Final', '2']]) %>
    </div>
  <% else %>
    <div class="hidden">
      <strong>Status:</strong>
      <%= f.select(:draft, [['Draft', '1'], ['Final', '2']]) %>
    </div>
  <% end %>

  <div class="hidden">
    <strong>User name:</strong>
    <%= f.text_field :user_name, :value => current_user.user_name %>
  </div>

  <hr />

  <h4>General details</h4>
  <div class="field">
    <strong><em>job title: </em></strong>
    <%= f.text_field :job_title, :class => "text_field" %><br/>
    <strong><em>valid from: </em></strong>
    <%= f.date_select(:valid_from, :order => [:day, :month, :year]) %><br/>
    <strong><em>job grade: </em></strong>
    <%= f.text_field :job_grade, :class => "text_field" %><br/>
    <strong><em>reports to: </em></strong>
    <%= f.text_field :reports_to, :class => "text_field" %><br/>
    <strong><em>line manages: </em></strong>
    <%= f.text_field :line_manages, :class => "text_field" %><br/>
  </div>

  <hr />

  <h4>Main body</h4>
  <div class="field">
    <p><strong>Overall purpose of the job:</strong></p>
    <%= f.text_area :purpose, :class => "text_area" %><br/>
  </div>

  <div class="field">
    <p><strong>Scope:</strong></p>
    <em id="helper_text">(ex.: how many projects a year, how many database entries to be managed, how many invoices to record, how many coordination meetings, how many staff to manage, managed budget magnitude, which interactions with other departments ...)</em><br/><br/>
    <%= f.text_area :scope, :class => "text_area" %><br/>
  </div>

<hr />

  <h2>Responsibilities</h2>
  <h4>Conceptual tasks, Strategy Development and/or Project Development</h4>
  <em id="helper_text">(study, analyze, design, reseach, observe, discover, diagnose, anticipate, inventory, understand, learn, invent …)</em><br/><br/>
  <% if @conceptual.present? %>
    <%= f.fields_for :responsibilities, @conceptual do |builder| %>
      <%= render "responsibility_fields", f: builder %>
    <% end %>
  <% end %>
  <%= link_to_add_conceptual_fields "Add Responsibility", f, :responsibilities %>
<hr />

  <h4>Implementation</h4>
  <em id="helper_text">(implement, make, utilize, program, calculate, experiment, renew, determine, regulate, secure, solve, select, apply, change …)</em><br/><br/>
  <% if @implementation.present? %>
    <%= f.fields_for :responsibilities, @implementation do |builder| %>
    <%= render "responsibility_fields", f: builder %>
    <% end %>
  <% end %>
  <%= link_to_add_implementation_fields "Add Responsibility", f, :responsibilities %>
<hr />

  <h4>Support / Coaching / Leadership</h4>
  <em id="helper_text">(animate, lead, train, inform, coordinate, entrust, sell, consult, guide, manage, initiate, delegate, recommend, support …)</em><br/><br/>
  <% if @support.present? %>
    <%= f.fields_for :responsibilities, @support do |builder| %>
      <%= render "responsibility_fields", f: builder %>
    <% end %>
  <% end %>
  <%= link_to_add_support_fields "Add Responsibility", f, :responsibilities %>
<hr />

  <h4>Compliance / Keeping Framework Conditions</h4>
  <em id="helper_text">(measure, prove, supervise, test, control, assess, verify, budget, classify, count, clean up, follow, compare, evaluate, consolidate...)</em><br/><br/>
  <% if @compliance.present? %>
    <%= f.fields_for :responsibilities, @compliance do |builder| %>
      <%= render "responsibility_fields", f: builder %>
    <% end %>
  <% end %>
  <%= link_to_add_compliance_fields "Add Responsibility", f, :responsibilities %><br/>

<hr />
  <h3>Attitude</h3>
  <em id="helper_text">(Ex. identification with Greenpeace values, stress resistance, tenacity, flexibility, discrete …)</em><br/><br/>
  <%= f.fields_for :attitudes, @att_order do |builder| %>
    <%= render "attitude_fields", f: builder %>
  <% end %>
  <%= link_to_add_fields "Add Attitude", f, :attitudes %>
<hr />

  <h3>Specific Work Environment</h3>
  <em id="helper_text">(ex.: office based in …, availability outside working hours, travels, outdoor working conditions …)</em><br/><br/>
  <%= f.fields_for :conditions, @con_order do |builder| %>
    <%= render "condition_fields", f: builder %>
  <% end %>
  <%= link_to_add_fields "Add Criterea", f, :conditions %>

<hr />

  <div class="actions">
    <%= f.submit "Save Position", :class => 'btn btn-success' %>
  </div>

  <div class="session_store">
    <%= f.submit "Store session", :name => "session_button" ,:class => 'btn btn-success' %>
  </div>

<% end %>
