<%= form_for(@position) do |f| %>
  <% if @position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@position.errors.count, "error") %> prohibited this position from being saved:</h2>

      <ul>
      <% @position.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :job_title %><br />
    <%= f.text_field :job_title %>
  </div>

<hr />
  <h2>Conceptual tasks, Strategy Development and/or Project Development</h2>
  <% if @conceptual.present? %>
    <%= f.fields_for :responsibilities, @conceptual do |builder| %>
      <%= render "responsibility_fields", f: builder %>
    <% end %>
  <% end %>
  <%= link_to_add_conceptual_fields "Add Responsibility", f, :responsibilities %>

  <h2>Implementation</h2>
  <% if @implementation.present? %>
    <%= f.fields_for :responsibilities, @implementation do |builder| %>
    <%= render "responsibility_fields", f: builder %>
    <% end %>
  <% end %>
  <%= link_to_add_implementation_fields "Add Responsibility", f, :responsibilities %>

  <h2>Support / Coaching / Leadership</h2>
  <% if @support.present? %>
    <%= f.fields_for :responsibilities, @support do |builder| %>
      <%= render "responsibility_fields", f: builder %>
    <% end %>
  <% end %>
  <%= link_to_add_support_fields "Add Responsibility", f, :responsibilities %>

  <h2>Compliance / Keeping Framework Conditions</h2>
  <% if @compliance.present? %>
    <%= f.fields_for :responsibilities, @compliance do |builder| %>
      <%= render "responsibility_fields", f: builder %>
    <% end %>
  <% end %>
  <%= link_to_add_compliance_fields "Add Responsibility", f, :responsibilities %>

<hr />
  <h2>Specific Work Environment</h2>
  <%= f.fields_for :conditions do |builder| %>
    <%= render "condition_fields", f: builder %>
  <% end %>
  <%= link_to_add_fields "Add Criterea", f, :conditions %>

<hr />
  <h2>Attitude</h2>
  <%= f.fields_for :attitudes do |builder| %>
    <%= render "attitude_fields", f: builder %>
  <% end %>
  <%= link_to_add_fields "Add Attitude", f, :attitudes %>

<hr />

  <h2>Competency profile</h2>
  <hr />

  <h3>Technical competencies</h3>
  <%= f.fields_for :functionals do |builder| %>
    <%= render "functional_fields", f: builder %>
  <% end %>
  <%= link_to_add_fields "Add Competency", f, :functionals %>

  <h3>Method related competencies</h3>
  <%= f.fields_for :methodrelations do |builder| %>
    <%= render "methodrelation_fields", f: builder %>
  <% end %>
  <%= link_to_add_fields "Add Competency", f, :methodrelations %>

  <h3>Leadership competencies</h3>
  <%= f.fields_for :leaderships do |builder| %>
    <%= render "leadership_fields", f: builder %>
  <% end %>
  <%= link_to_add_fields "Add Competency", f, :leaderships %>

  <h3>Social/self competencies</h3>
  <%= f.fields_for :socials do |builder| %>
    <%= render "social_fields", f: builder %>
  <% end %>
  <%= link_to_add_fields "Add Competency", f, :socials %>

<hr />

<hr />

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
