<%= link_to 'Create new position', new_position_path, :class => "btn btn-primary" %>

<h4><em>Draft section</em></h4>
<table class="table table-striped table-hover table-bordered">
  <tr>
    <th>Job title</th>
    <th>Last edited at</th>
    <th>Last edited by</th>
  </tr>
<% @positions.each do |p| %>
  <% if ((p.office == current_user.office) && (p.draft == 1)) %>
    <tr>
      <td><%= link_to p.job_title, p %></td>
      <td><%= p.updated_at.strftime("%d %B %Y") unless p.updated_at.nil? %></td>
      <td><%= p.user_name %></td>
    </tr>
  <% end %>
<% end %>
</table>

<hr />

<h4><em>Job descriptions</em></h4>
<table class="table table-striped table-hover table-bordered">
  <tr>
    <th>Job title</th>
    <th>Last edited at</th>
  </tr>
<% @positions.each do |p| %>
  <% if ((p.office == current_user.office) && (p.draft == 2)) %>
    <tr>
      <td><%= link_to p.job_title, p %></td>
      <td><%= p.updated_at.strftime("%d %B %Y") unless p.updated_at.nil? %></td>
    </tr>
  <% end %>
<% end %>
</table>
